.page-header
  = link_to stores_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_store_path(@store), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show store

.container
  .row
    .col-lg-12
      %h2.page-header
        = @store.name
      %h3
        %i.fa.fa-map-o
        = @store.address
      %h4
        %i.fa.fa-phone-square
        %a{:href => "store.phone"}
        = @store.phone
  .row
    .col-md-8
      -# = image_tag attachment_url(@store, :picture), size: "750x500"

    .col-md-4
      %h3
        Cuisine
      %p.text-justify
        %i.fa.fa-cutlery
        = @store.cuisine
      %h3
        Contact Info
      %p.text-justify
        %i.fa.fa-hourglass-2
        Hours Open:
        = @store.hours
      %p.text-justify
        %i.fa.fa-money
        Price:
        = price_as_dollar_signs(@store.price)
      %p.text-justify
        %i.fa.fa-paperclip
        = link_to "Store Menu", attachment_url(@store, :menu, format: "pdf")
      %p.text-justify
        %i.fa.fa-chrome
        Store Website:
        = link_to @store.website
  .row
    .col-lg-12
      %h3.page-header
        More Pictures
        .col-sm-3.col-xs-6
          - @store.pictures.each do |picture|
            = image_tag attachment_url(picture, :image), size: "200x200"
    -# .col-sm-3.col-xs-6
    -#   %img.img-responsive.portfolio-item{:alt => "Image_2", :src => "http://placehold.it/500x300"}/
    -# .col-sm-3.col-xs-6
    -#   %img.img-responsive.portfolio-item{:alt => "Image_3", :src => "http://placehold.it/500x300"}/
    -# .col-sm-3.col-xs-6
    -#   %img.img-responsive.portfolio-item{:alt => "Image_4", :src => "http://placehold.it/500x300"}/
    -# .col-sm-3.col-xs-6
    -#   %img.img-responsive.portfolio-item{:alt => "Image_5", :src => "http://placehold.it/500x300"}/

  %hr/

  %footer
    .row
      .col-lg-12
        %p
          Copyright © Ham is super awesome - 2016
